@import "../../index.scss";

$duration: 3s;

.parallax {
    max-width: 1440px;
    height: 1024px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -106px;
    margin-bottom: -106px;
    animation-duration: $duration;
    animation-name: decrease-section;
    &_img {
        width: 100%;
        height: 1024px;
        background-image: url(../../assets/images/parallax_img.png);
    }
}

.info {
    &_title {
        position: absolute;
        left: 312px;
        top: -228px;
        font-family: 'Rising Sun';
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 100%;
        color: #94B9AB;
        animation-duration: $duration;
        animation-name: hide-main_title;
        & span {
            color: #0C6DCE;
        }
    }
    
    &_text {
        position: absolute;
        left: 589px;
        top: -127px;
        font-family: 'Neucha';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 55px;
        color: #070707;
        animation-duration: $duration;
        animation-name: hide-main_text;
    }
}

.about {
    font-family: 'Rising Sun';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    position: absolute;
    opacity: 1;
    left: 50%;
    top: 190px;
    transform: translate(calc(-50% - 90px), 0);
    white-space: nowrap;
    animation-duration: $duration;
    animation-name: show-about_text;
    &_bg {
        background-image: url(../../assets/images/text_bg.png);
        background-size: cover;
        background-position-y: 0;
        height: 626px;
        width: 100%;
        position: absolute;
        top: 398px;
        z-index: 2;
        animation-duration: $duration;
        animation-name: move-about_bg;
    }

    &_title {
        font-family: 'Neucha';
        font-weight: 400;
        font-size: 50px;
        line-height: 55px;
        margin: 0;
        margin-block-end: 0;
        margin-bottom: 32px;
    }

    &_text {
        margin: 0;
    }

    &_list {
        list-style: none;
        padding: 0;
        margin: 0;

        & p {
            margin: 0;
        }
    }
}

.trees {
    width: 100%;
    height: 533px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    animation-duration: $duration;
    animation-name: move-trees;
    
    &_l {
        height: 100%;
        background-image: url(../../assets/images/trees_l.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        width: 305px;
    }
    
    &_r {
        height: 100%;
        background-image: url(../../assets/images/trees_r.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        width: 305px;
    }
}

.hill {
    position: absolute;
    top: 108px;
    width: 100%;
    height: 356px;
    background-image: url(../../assets/images/hill.png);
    animation-duration: $duration;
    animation-name: move-hill;
}

.small_trees {
    position: absolute;
    top: 92px;
    left: 50%;
    width: 687px;
    height: 306px;
    transform: translateX(calc(-50% - 34px));
    background-image: url(../../assets/images/small_trees.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation-duration: $duration;
    animation-name: move-small_trees;
}

.darh_hill {
    position: absolute;
    top: 176px;
    width: 100%;
    height: 302px;
    background-image: url(../../assets/images/dark_hill.png);
    background-repeat: no-repeat;
    animation-duration: $duration;
    animation-name: move-dark_hill;
}

.garbage_r {
    position: absolute;
    top: 535px;
    right: 0;
    width: 129px;
    height: 228px;
    background-image: url(../../assets/images/garbage_r.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation-duration: $duration;
    animation-name: move-garbage_r;
}

.garbage_l {
    position: absolute;
    top: 522px;
    left: 0;
    width: 154px;
    height: 228px;
    background-image: url(../../assets/images/garbage_l.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation-duration: $duration;
    animation-name: move-garbage_l;
}

.big_trees {
    position: absolute;
    top: 45px;
    left: 50%;
    width: 1023px;
    height: 378px;
    transform: translateX(calc(-50% - -19px));
    background-image: url(../../assets/images/big_trees.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation-duration: $duration;
    animation-name: move-big_trees;
}

@keyframes decrease-section{
    from {
        height: 2048px;
    }

    to {
        height: 1024px;
    }
}

@keyframes move-about_bg{
    from {
        top:954px;
        height: 1094px;
    }

    to {
        top: 398px;
        height: 626px;
    }
}

@keyframes hide-main_title{
    from {
        left: 341px;
        top: 198px;
    }

    to {
        left: 312px;
        top: -228px;
    }
}

@keyframes hide-main_text{
    from {
        left: 618px;
        top: 299px;
    }

    to {
        left: 589px;
        top: -127px;
    }
}

@keyframes show-about_text{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes move-trees{
    from {
        top: 610px;
        height: 522px;
    }

    to {
        top: 0;
        height: 533px;
    }
}

@keyframes move-hill{
    from {
        top: 585px;
        height: 574px;
    }

    to {
        top: 108px;
        height: 356px;
    }
}

@keyframes move-small_trees{
    from {
        top: 473px;
        width: 1140px;
        height: 513px;
        transform: translateX(calc(-50% + 21px));
    }

    to {
        top: 92px;
        width: 687px;
        height: 306px;
        transform: translateX(calc(-50% - 34px));
    }
}

@keyframes move-dark_hill{
    from {
        top: 688px;
        height: 471px;
    }

    to {
        top: 176px;
        height: 302px;
    }
}

@keyframes move-garbage_r{
    from {
        top: 749px;
        right: 136px;
        width: 370px;
    }

    to {
        top: 535px;
        right: 0;
        width: 129px;
    }
}

@keyframes move-garbage_l{
    from {
        top: 744px;
        left: 13px;
        width: 370px;
    }

    to {
        top: 522px;
        left: 0;
        width: 154px;
    }
}

@keyframes move-big_trees{
    from {
        top: 401px;
        width: 100%;
        height: 518px;
        transform: translateX(-50%);
    }

    to {
        top: 45px;
        width: 1023px;
        height: 378px;
        transform: translateX(calc(-50% - -19px));
    }
}