{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
      "react/react-in-jsx-scope": ["off"],
      "react/jsx-uses-react": ["off"],
      "indent": ["error", 4],
        "semi": ["error", "always"],
        "semi-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "comma-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "comma-dangle": ["error", "never"],
        "func-call-spacing": ["error", "never"],
        "dot-location": ["error", "property"],
        "object-curly-newline": ["error", {
            "ObjectExpression": { "minProperties": 1 },
            "ObjectPattern": "never",
            "ImportDeclaration": { "minProperties": 7 },
            "ExportDeclaration": { "minProperties": 2 }
        }],
        "object-curly-spacing": ["error", "always"],
        "template-curly-spacing": ["error", "never"],
        "quotes": ["error", "single", { "avoidEscape": true }]
  },
  "settings": {
    "import/resolver": {
        "typescript": {}
    },
    "react": {
      "version": "detect"
    }
  }
}
