{
    "singleQuote": true,
    "trailingComma": "none",
    "endOfLine": "auto",
    "printWidth": 100,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "tabWidth": 4,
    "useTabs": false
}
