@import '../../index.scss';

.filterButton {
  background-color: $color-white;
  border: 0.5px solid #000000;
  border-radius: 30px;
  height: 70px;
  padding: 0px 27px ;
  margin: 0px 30px 30px 0px;
  font-size: 24px;
  cursor: pointer;
  line-height: 31px;
}

.filterButtonActive {
  background-color: $color-primary;
  border: 0.5px solid #000000;
  border-radius: 30px;
  height: 70px;
  padding: 0px 27px ;
  margin: 0px 30px 30px 0px;
  font-size: 24px;
  cursor: pointer;
  line-height: 31px;
}