@import '../../index.scss';

.filterButton {
  background-color: $color-white;
  color: $color-black;
  border: 0.5px solid $color-black;
  border-radius: 30px;
  cursor: pointer;
  white-space: nowrap;
}

.filterButton:hover {
  background-color: #B1CDBE;
  border-color: transparent;
}
//.filterButton:focus {
//  border-color: transparent;
//  outline-color: transparent;
//  outline-style:solid;
//  box-shadow: 0 0 0 2px #94B9AB;
//  background-color: #F6FCEA;
 // border: 2px #94B9AB solid;
//}

.filterButton:active {
  background-color: $color-primary;

}

.active {
  background-color: $color-primary;
  border-color: transparent;
}


@media screen and (max-width: 767px) {

  .filterButton {
    font-size: 16px;
    padding: 7px 25px;
    margin: 0px 15px 20px 0px;
  }

}


@media only screen and (min-width: 768px) {


  .filterButton {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0px 15px 20px 0px;
  }

}


@media only screen and (min-width: 1200px) {

  .filterButton {
    padding: 13px 27px;
    margin: 0px 25px 25px 0px;
    font-size: 24px;

  }
}