@import '../../index.scss';

.map {
  max-width: 1440px;
  margin: 0 auto;

}

.mapWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background: $color-white;
  @media screen and (min-width: 1200px) {
    padding: 38px 135px 55px;
  }
}

.mapHeading {
  margin: 0 0 34px;
}

.buttonsWrapper {
  width: 90%;
  padding: 20px 0px;
}

.mapContainer {
  width: 100%;
  height: 543px;

}

input.searchField {
  font-size: 24px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-image: url('../../assets/images/search.svg');
  background-repeat:no-repeat;
  background-position:left center;
  padding-left:40px;
  background-color: $color-white;
  border: 1px solid $color-black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;

}

input.searchField:focus {
  outline: none;
}

::placeholder {
  color: #A9A9A9;
  opacity: 1;
}
