@import '../../index.scss';

.map {
  max-width: 1440px;
  margin: 0 auto;
}

.mapWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: $color-white;
  @media screen and (min-width: 1200px) {
    padding: 37px 135px 70px;
  }
  h2 {
    margin: 0 0 34px;
  }
}

.mapHeading {
  margin: 0 0 34px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  margin-bottom: 83.77px;
}

.mapContainer {
  width: 1170px;
  height: 543px;
}
