@import '../../index.scss';

.feedbackForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media screen and (min-width: 500px) {
    width: auto;
    max-width: 570px;
  }
}

.feedbackFormHeading {
  display: inline-block;
  font-family: $font-primary;
  line-height: 110%;
  font-weight: 600;
  color: $color-black;
  margin: 0;
  margin-bottom: 10px;
  font-size: 28px;
  @media screen and (min-width: 500px) {
    font-size: 48px;
  }
}

.feedbackFormDescription {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
  margin-bottom: 20px;
  color: $color-black;
  font-size: 16px;
  @media screen and (min-width: 500px) {
    font-size: 20px;
  }
}

.feedbackFormField {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  &.disabled {
    opacity: 0.5;
  }
  & label {
    margin-bottom: 10px;
  }
  & input, & textarea {
    background-color: inherit;
    border: 1px solid $color-black;
    border-radius: 10px;
    padding: 10px;
    min-height: 50px;
    outline: none;
    caret-color: #1865F2;
    @media screen and (min-width: 500px) {
      min-height: 60px;
      padding: 19px 10px;
    }
    &:hover {
      border: 1.5px solid $color-black;
    }
    &:focus {
      border: 2px solid $color-black;
    }
  }
  & textarea {
    resize: none;
    height: 141px;
    @media screen and (min-width: 500px) {
      height: 168px;
    }
  }
}

.feedbackFormPolytics {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 25px;
  & > span {
    max-width: 272px;
    @media screen and (min-width: 400px) {
      max-width: none;
    }
  }
  & span, & label {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: $color-black;
  }
  & label {
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }
  & a {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: #2073E5;
  }
  & input[type="checkbox"] {
    display: none;
  }
}

.messageCounter {
  display: inline-flex;
  align-self: flex-end;
  margin-top: 5px;
  @media screen and (min-width: 500px) {
    display: none;
  }
}

.feedbackFormCheckbox {
  min-width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid $color-black;
  margin-right: 10px;
  transition: none;
  cursor: pointer;
  &.selected {
    border-color: #1B7A59;
    background-image: url('../../assets/icons/form-check.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.feedbackFormSubmitBtn {
  display: inline-flex;
  justify-content: center;
  border-radius: 35px;
  border: none;
  background-color: #1B7A59;
  padding: 11px 30px;
  min-width: 210px;
  color: #fff;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
  cursor: pointer;
  @media screen and (min-width: 500px) {
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    align-self: flex-end;
  }
  &:hover {
    background-color: #2FA37A;
  }
  &:focus {
    background-color: #2FA37A;
  }
  &:active {
    background-color: #3BBC8F;
  }
  &:disabled {
    cursor: default;
    background-color: #EAEBEA;
    color: #7C7C7C;
  }
}
