@import '../../index.scss';

.navCards {
    max-width: 1440px;
    margin: 0 auto;
    background-color: $color-white;
}

.navCardsWrapper {
    padding: 32px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    @media screen and (min-width: 400px) {
        padding-left: calc(60 / 768 * 100vw);
        padding-right: calc(60 / 768 * 100vw);
        padding-top: calc(60 / 768 * 100vw);
    }
    @media screen and (min-width: 600px) {
        padding: 40px 30px;
        // row-gap: 48px;
    }
    @media screen and (min-width: 1200px) {
        padding: calc(50 / 1440 * 100vw) calc(100 / 1440 * 100vw);
        row-gap: calc(50 / 1440 * 100vw);
    }
    @media screen and (min-width: 1440px) {
        padding: 55px 135px;
        row-gap: 70px;
    }
}
