@import '../../index.scss';

.nav-cards {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-cards-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
    @media screen and (min-width: 1200px) {
        padding: 55px 135px;
    }
}