@import '../../index.scss';

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 90px;
}

.ticker {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-width: 0.5px 0px;
    border-style: solid;
    border-color: #000000;
}

.text {
    font-family: 'Rising Sun';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 0em;
    color: #000000;
    margin-right: 10px;
}

.text__bold {
    font-weight: 700;
}

.text__italic_bold {    
    font-style: italic;
    font-weight: 800;
}

.aaa {
    background-color: red;
}