@import '../../index.scss';

.recycleCard {
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    transition: max-height .3s ease-in;
    max-height: 235px;
    @media screen and (min-width: 768px) {
        max-height: 123px;
    }
    .recycleCardContent {
        background-color: $color-white;
        overflow: hidden;
    }
    &Expanded {
        max-height: 1536px;
    }
}

.recycleCardHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-white;
    column-gap: 60px;
    width: 100%;
    overflow: hidden;
    transition: none;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
}

.recycleCardImage {
    max-width: 280px;
    height: 135px;
    @media screen and (min-width: 768px) {
        height: 123px;
        max-width: 300px;
    }
}

.recycleCardDescription {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 25px;
    @media screen and (min-width: 768px) {
        padding: 0;
        height: auto;
        margin-right: 32px;
    }
}

.recycleCardInfo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.recycleCardHeading {
    font-family: $font-primary;
    font-weight: 500;
    color: $color-black;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    @media screen and (min-width: 768px) {
        font-size: 30px;
        line-height: 33px;
    }
}

.recycleCardText {
    display: none;
    font-family: $font-primary;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.recycleTable {
    border-collapse: collapse;
    th {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: $color-black;
        padding: 13px 19px;
        white-space: pre-line;
    }
    th, td {
        max-width: 195px;
        border: 1px solid $color-black;
    }
    tr th:first-child, tr td:first-child {
        border-left: none;
    }
    tr th:last-child, tr td:last-child {
        border-right: none;
    }
    tr:last-child td {
        border-bottom: none;
    }
    &Image {
        text-align: center;
        padding: 16.55px 0;
    }
    &Description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: $color-black;
        white-space: pre-line;
        p {
            margin: 0;
            margin-bottom: 21px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &plastic {
            padding: 9.5px 19px;
        }
        &paper {
            padding: 20px 19px;
        }
        &glass {
            padding: 20px 19px;
            height: 482px;
        }
        &large {
            padding: 20px 19px;
            height: 288px;
        }
        &electro {
            padding: 20px 19px;
            height: 375px;
        }
        &danger {
            padding: 20px 19px;
            height: 288px;
        }
        &metal {
            padding: 20px 19px;
            height: 375px;
        }
    }
    &Status {
        padding: 22.7px 38px;
        &:first-child {
            border-bottom-left-radius: 30px;
        }
        &:last-child {
            border-bottom-right-radius: 30px;
        }
    }
}

.recycleTableRightBorder {
    tr th:last-child, tr td:last-child {
        border-right: 1px solid $color-black;
    }
    .recycleTableStatus {
        &:last-child {
            border-bottom-right-radius: 0;
        }
    }
}

.recycleStatus {
    &Red {
        background: #FF9595;
    }
    &Green {
        background: #94B9AB;
    }
}
