@import '../../index.scss';

.recycle-card {
    width: 100%;
    &-expanded {
        .recycle-card__header {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            max-height: auto;
        }
    }
}

.recycle-card__header {
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 60px;
    border-radius: 30px;
    width: 100%;
    max-height: 123px;
    overflow: hidden;
    transition: none;
}

.recycle-card__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 32px;
}

.recycle-card__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.recycle-card__heading {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    color: $color-black;
    margin: 0;
}

.recycle-card__text {
    font-family: $font-primary;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.recycle-card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1B7A59;;
    cursor: pointer;
    padding: 0;
    border: 0;
}

.recycle-card__content {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: $color-white;
}

.recycle-table {
    border-collapse: collapse;
    th {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: $color-black;
        padding: 13px 19px;
        white-space: pre-line;
    }
    th, td {
        max-width: 195px;
        border: 1px solid #4F4F4F;
    }
    tr th:first-child, tr td:first-child {
        border-left: none;
    }
    tr th:last-child, tr td:last-child {
        border-right: none;
    }
    tr:last-child td {
        border-bottom: none;
    }
    &__image {
        text-align: center;
        padding: 16.55px 0;
    }
    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: $color-black;
        padding: 9.5px 19px;
        p {
            margin: 0;
            margin-bottom: 21px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__status {
        padding: 22.7px 38px;
        &:first-child {
            border-bottom-left-radius: 30px;
        }
        &:last-child {
            border-bottom-right-radius: 30px;
        }
    }
}

.recycle-status {
    &-red {
        background: #FF9595;
    }
    &-green {
        background: #94B9AB;
    }
}
