@import '../../index.scss';

.recycleCardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1B7A59;;
  cursor: pointer;
  padding: 0;
  border: 0;
}

svg.cross {
  fill: $color-white;
}

svg.arrow {
  transform: translateY(7px);
  path:first-child {
    d: path('M14.2852 14.5205L27.001 2.19532');
  }
  path:last-child {
    d: path('M14.1621 14.5205L2.2832 2.02051');
  }
}
