@import 'src/index.scss';

.recycleCard {
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    transition: max-height .3s ease-in;
    max-height: 238px;
    &Expanded {
        max-height: 2100px;
    }
    @media screen and (min-width: 768px) {
        max-height: 123px;
        &Expanded {
            max-height: 2100px;
        }
    }
}

.recycleCardHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-white;
    column-gap: 60px;
    width: 100%;
    overflow: hidden;
    transition: none;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
}

.recycleCardImage {
    min-width: 270px;
    height: 150px;
    @media screen and (min-width: 768px) {
        height: 123px;
        max-width: 300px;
    }
}

.recycleCardDescription {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    @media screen and (min-width: 768px) {
        padding: 0;
        height: auto;
        margin-right: 32px;
    }
}

.recycleCardInfo {
    display: inline-flex;
    max-width: calc(188 / 320 * 100vw);
}

.recycleCardHeading {
    font-family: $font-primary;
    font-weight: 500;
    color: $color-black;
    margin: 0;
    font-size: 20px;
    line-height: 105%;
    @media screen and (min-width: 768px) {
        font-size: 30px;
        line-height: 33px;
    }
}
