@import '../../index.scss';

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    position: relative;
    max-width: 1440px;
    height: 637px;
    padding-top: 43px;
    margin: 0 auto;
    background-image: url(../../assets/images/footer_img.png);
}

.footer_info {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #070707;
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
}

.footer-logo {
    background-image: url(../../assets/images/Logo.png);
    width: 66px;
    height: 76px;
    z-index: 1;
}

.socials {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}

.up-btn {
    position: absolute;
    display: block;
    width: 86px;
    height: 86px;
    background: #CAE3F9;
    border-radius: 50%;
    bottom: 158px;
    right: 168px;
    background-image: url(../../assets/images/up_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: .2s;
    
    &:hover {
        animation: move_up-btn 0.4s infinite;
    }
}

@keyframes move_up-btn {
    0% {
        background-position-y: center;
    }
    
    25% {
        background-position-y: 12px;
    }
    
    50% {
        background-position-y: center;
    }
    
    75% {
        background-position-y: 22px;
    }
    
    100% {
        background-position-y: center;
    }
}

.footer_big_trees {
    position: absolute;
    top: 94px;
    width: 100%;
    height: 507px;
    background-image: url(../../assets/images/footer_big_trees.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer_dark_hill {
    position: absolute;
    top: 279px;
    width: 100%;
    height: 358px;
    background-image: url(../../assets/images/footer_dark_hill.png);
    background-repeat: no-repeat;
}

.footer_small_trees {
    position: absolute;
    top: 182px;
    left: 50%;
    width: 67%;
    height: 362px;
    transform: translateX(-58%);
    background-image: url(../../assets/images/footer_small_trees.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer_hill {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 421px;
    background-image: url(../../assets/images/hill-after.png);
    background-size: 119% auto;
    background-position-x: center;
}