@import '../../index.scss';

.recycle {
    max-width: 1440px;
    margin: 0 auto;
}

.recycleWrapper {
    padding: 32px 25px;
    background: #CAE3F9;
    @media screen and (min-width: 768px) {
        padding: 48px 39px;
    }
    @media screen and (min-width: 1200px) {
        padding: 50px 135px;
    }
}

.recycleHeading {
    display: none;
    @media screen and (min-width: 768px) {
        display: inline-flex;
        margin: 0 0 32px;
    }
    @media screen and (min-width: 1200px) {
        margin: 0 0 50px;
    }
    letter-spacing: 0.4px;
}

.recycleInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    @media screen and (min-width: 768px) {
        row-gap: 20px;
    }
    @media screen and (min-width: 1200px) {
        row-gap: 30px;
    }
}
