@import '../../index.scss';

.recycle {
    max-width: 1440px;
    margin: 0 auto;
}

.recycle-wrapper {
    padding: 20px;
    background: #CAE3F9;
    @media screen and (min-width: 1200px) {
        padding: 55px 135px;
    }
}

.recycle-heading {
    margin: 0 0 55px;
}

.recycle-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
