@import '../../index.scss';

.newsContainer {
  padding: 30px 115px 30px 135px;
  background: $color-white;
}

.newsHeader {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
}


.mainNews {
  display: flex;
  flex-direction: column;
  width: 570px;
}

.mainNewsPhoto {
  width: 570px;
  height: 300px;
  border-radius: 15px;
  margin-bottom: -20px;
}


.newsContent {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  gap: 30px;
}

.newsColumn {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  gap: 10px;
}

.newsWrapper {
  padding: 10px 0 5px 0;
}

.newsTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $color-black;
}

.newsTitleLink {
  color: $color-black;
}

.newsDate {
  font-weight: 400;
  font-size: 16px;
  padding-top: 5px;
}

.seeMoreLinkWrapper {
  display: flex;
  justify-content: right;
  padding-top: 20px;
}

.seeMoreLink {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #1B7A59;
}


