@import '../../index.scss';

.newsContainer {
  padding: 40px 25px;
  background: $color-white;
  @media screen and (min-width: 768px) {
    padding: 55px 39px;
  }
  @media screen and (min-width: 1200px) {
    padding: 96px 135px;
  }
}

.newsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mainNews {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.mainNewsPhoto {
  max-width: 100%;
  max-height: 360px;
  border-radius: 15px;
}

.newsContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
}

.newsColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  gap: 10px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 18px;
  }
}

.newsWrapper {
  padding: 0 20px 0 0;
    &:nth-child(4) {
       display: none;
     }
  //&:nth-child(2) {
  //  display: none;
  //}
  ////display: none;
  //:last-child {
  //  display: none;
  //}
  //@media screen and (min-width: 768px) {
  //  padding: 0 20px 0 0;
  //  &:last-child {
  //     display: none;
  //   }
  //}
  //@media screen and (min-width: 1200px) {
  //  padding: 0 20px 0 0;
  //  display: block;
  //}
}






.mainNewsTitle {
 padding-right: 10px;
}

.newsTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $color-black;
}

.newsTitleLink {
  color: $color-black;
}

.newsDate {
  font-weight: 400;
  font-size: 16px;
  padding-top: 5px;
}

.seeMoreLinkWrapper {
  display: flex;
  justify-content: right;
  padding: 20px 10px 0 0;
}

.seeMoreLink {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #1B7A59;
}


