@import './index.scss';

* {
    transition: all .3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $color-black;
}

h2 {
    display: inline-block;
    font-family: $font-primary;
    font-weight: 600;
    color: $color-black;
    font-size: 25px;
    line-height: 30px;
    @media screen and (min-width: 1200px) {
        font-size: 48px;
        line-height: 105%;
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    border-radius: $button-radius;
    text-align: center;
    font-family: $font-secondary;
    font-size: 30px;
    line-height: 33px;
    background-color: $color-primary;
    color: $color-black;
    transition: all .3s ease-out;
    transition-delay: 0.3s;
    &:hover {
        background-color: $color-light;
        color: $color-black;
        transition-delay: 0ms;
    }
    &:active {
        background-color: $color-dark;
        color: $color-white;
        transition-delay: 0ms;
    }
}

//to correct leaflet map z-index
//
//.leaflet-pane {
//    z-index: auto;
//}
//.leaflet-control {
//    z-index: auto;
//}
//.leaflet-top,
//.leaflet-bottom {
//    z-index: auto;
//}
//.leaflet-pane,
//.leaflet-map-pane
//{
//    transform: translate3d(0px, 0px, 0px) !important;
//}
//.leaflet-control {
//    z-index: auto;
//}
//.leaflet-top,
//.leaflet-bottom {
//    z-index: auto;
////}
