.recycle {
    width: 1440px;
    margin: 0 auto;
}

.recycle-wrapper {
    padding: 23px 135px 55px;
    background: #DDC8FF;
}

.recycle-heading {
    display: inline-block;
    margin: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    color: #101010;
    margin-bottom: 23px;
}

.recycle-info {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.recycle-cards {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
}

.recycle-stack-large {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.recycle-stack-small {
    display: flex;
    flex-direction: row;
    column-gap: 27px;
}

.recycle-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 23px;
}

.plastic-card {
    width: 325px;
    background: #F6FCEA;
    box-shadow: 0px 108px 43px rgba(19, 0, 51, 0.01), 0px 61px 36px rgba(19, 0, 51, 0.05), 0px 27px 27px rgba(19, 0, 51, 0.09), 0px 7px 15px rgba(19, 0, 51, 0.1), 0px 0px 0px rgba(19, 0, 51, 0.1);
    .recycle-card__heading {
        color: #000;
    }
    .recycle-card__text {
        color: #000;
    }
    .recycle-card__image::after {
        border: 0.5px dotted #000;
    }
    .underliner {
        border-top: 0.5px dotted #000;
    }
    .recycle-card__heading {
        margin-bottom: 30px;
    }
    .recycle-card__text {
        width: 247px;
        margin-bottom: 7px;
    }
}

.paper-card {
    width: 325px;
    background: #0C3626;
    box-shadow: 0px 144px 57px rgba(19, 0, 51, 0.01), 0px 81px 48px rgba(19, 0, 51, 0.05), 0px 36px 36px rgba(19, 0, 51, 0.09), 0px 9px 20px rgba(19, 0, 51, 0.1), 0px 0px 0px rgba(19, 0, 51, 0.1);
    .recycle-card__heading {
        color: #FFFDFD;
    }
    .recycle-card__text {
        color: #FFFEFE;
    }
    .recycle-card__image::after {
        border: 0.5px dotted #FFFDFD;
    }
    .underliner {
        border-top: 0.5px dotted #FFFDFD;
    }
    .recycle-card__heading {
        margin-bottom: 30px;
    }
    .recycle-card__text {
        width: 247px;
        margin-bottom: 7px;
    }
}

.large-card {
    width: 670px;
    background: #BDD9CE;
    box-shadow: 0px 85px 34px rgba(19, 0, 51, 0.01), 0px 48px 29px rgba(19, 0, 51, 0.05), 0px 21px 21px rgba(19, 0, 51, 0.09), 0px 5px 12px rgba(19, 0, 51, 0.1), 0px 0px 0px rgba(19, 0, 51, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 42px;
    .recycle-card__heading {
        margin-bottom: 22px;
    }
    .recycle-card__text {
        width: 229px;
        margin-bottom: 22px;
    }
    .recycle-card__heading {
        line-height: 28px;
    }
}

.glass-card {
    width: 470px;
    background: #F6FCEA;
    box-shadow: 0px 75px 30px rgba(19, 0, 51, 0.01), 0px 42px 25px rgba(19, 0, 51, 0.05), 0px 19px 19px rgba(19, 0, 51, 0.09), 0px 5px 10px rgba(19, 0, 51, 0.1), 0px 0px 0px rgba(19, 0, 51, 0.1);
    .recycle-card__heading {
        margin-bottom: 10px;
    }
    .recycle-card__text {
        width: 229px;
        line-height: 23px;
    }
}

.glass-card__info {
    display: flex;
    flex-direction: row;
    column-gap: 31px;
    align-items: flex-end;
    margin-left: 26px;
    margin-right: 13px;
}

.small-card {
    width: 223px;
    .recycle-card__heading {
        min-height: 40px;
        margin-bottom: 28px;
    }
    .recycle-card__text {
        width: 182px;
        margin-bottom: 32px;
    }
}

.danger-card {
    background: #DDC8FF;
    box-shadow: 0px 87px 35px rgba(45, 1, 121, 0.01), 0px 49px 29px rgba(45, 1, 121, 0.05), 0px 22px 22px rgba(45, 1, 121, 0.09), 0px 5px 12px rgba(45, 1, 121, 0.1), 0px 0px 0px rgba(45, 1, 121, 0.1);
    .recycle-card__heading {
        margin-top: 24px;
    }
}

.metal-card {
    background: #F6FCEA;
    box-shadow: 0px 88px 35px rgba(19, 0, 51, 0.01), 0px 50px 30px rgba(19, 0, 51, 0.05), 0px 22px 22px rgba(19, 0, 51, 0.09), 0px 6px 12px rgba(19, 0, 51, 0.1), 0px 0px 0px rgba(19, 0, 51, 0.1);
    .recycle-card__heading {
        margin-top: 20px;
    }
}

.recycle-card__heading {
    align-self: flex-start;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
}

.recycle-card__image {
    width: 240px;
    height: 251px;
    margin-bottom: 8px;
    img {
        position: relative;
        z-index: 100;
    }
    &::after {
        display: block;
        margin: -30px auto 0;
        content: "";
        width: 210px;
        height: 34px;
        border-radius: 50%;
    }
}

.recycle-card__large-image {
    width: 302px;
    height: 274px;
}

.recycle-card__glass-image {
    width: 405px;
    height: 150px;
    margin-bottom: 40px;
}

.underliner {
    width: 274px;
    margin-bottom: 26px;
}

.recycle-card__text {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.recycle-card__button {
    align-self: flex-end;
    padding: 10px 25px;
    background: #94B9AB;
    border-radius: 10px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #000;
    border: 0;
    cursor: pointer;
}