@import 'src/index.scss';

//to correct leaflet map z-index
//
//.leaflet-pane {
//    z-index: auto;
//}
//.leaflet-control {
//    z-index: auto;
//}
//.leaflet-top,
//.leaflet-bottom {
//    z-index: auto;
//}
//.leaflet-pane,
//.leaflet-map-pane
//{
//    transform: translate3d(0px, 0px, 0px) !important;
//}
//.leaflet-control {
//    z-index: auto;
//}
//.leaflet-top,
//.leaflet-bottom {
//    z-index: auto;
////}


.leaflet-popup-content {
    margin: 0px;

}

.leaflet-popup-content-wrapper {
    padding: 0px;
    border: 0px;
    border-radius: 20px;

}
.leaflet-popup-tip {
    background:#CAE3F9;
}

.leaflet-attribution-flag {
    display: none !important;
}

.marquee-container {
  height: 70px;
}

@media (max-width: 600px) {
  .marquee-container {
    height: 50px;
  }
}
